doctype html
html(lang='en')
  head
    meta(charset='utf8')
    title Node demo
    link(rel='stylesheet' href='css/foundation.css')
    link(rel='stylesheet' href='css/app.css')

  body
    div.row
      div.large-4.columns
      block content
    script(src='js/app.js')
